.btn-success {
  cursor: default;
}

.mainRow {
  padding: 20px;
}

.mainCol {
  padding: 0px;
  height:80vh;
}

.scrollable {
  height:80vh;
  overflow-y: scroll;
}

.courseList {
  height:80vh;
}

.navButton {
  margin-left: 7px;
}

.cartButton {
  float: right;
}

.center {
  text-align: center;
}

.centerAlert {
  margin: auto;
}
